.Rproj.user
mtdt/PDG000000002.2452.metadata.tsv

PDG000000002.2452.metadata.tsv

.DS_Store

.Rhistory

refgenomes/GCF_000006945.2_ASM694v2_genomic.fna.gz

refgenomes/GCF_000006945.2_ASM694v2_genomic.gff.gz

refgenomes/GCF_000006945.2_ASM694v2_genomic.fna

refgenomes/GCF_000006945.2_ASM694v2_genomic.gff

refgenomes/salmonella_proper.gff
